#container {
    background-color: rgb(244, 213, 121);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#navbar {
    display:inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed; 
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    top:0;
    border-radius: 26px;
    background-color: #eb9d02;

}
li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }
#nav_text {
    color: rgb(255, 215, 94);
    text-align: center;
    padding: 30px 30px;
    text-decoration:none;
    float: left;
    font-size: 30px;
    
}
#navbar li:hover {
    background-color: #c67417;
   
}